@font-face {
    font-family: vazir;
    src: local(vazir)
    url(../fonts/Vazirmatn-Regular.ttf) format(truetype),
    url(../fonts/Vazirmatn-Regular.woff2) format(woff2);
}

* {
    box-sizing: border-box;
    font-family: vazir;
    font-size: 32px;
    color: #fff;
    margin: 0;
    padding: 0;
}

body {
    background-color: #546E7A;
}

.container {
    width: 600px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
}

.child1 {
    background-color: #3F51B5;
}

.child2 {
    background-color: #FF8A80;
}

.child3 {
    background-color: #1A237E;
}

.container2{
    width: 600px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
}

.child__1{
    background-color: #A7FFEB;
}

.child__2 {
    background-color: #8C9EFF;
}

.child__3 {
    background-color: #00897B;
}