* {
    box-sizing: border-box;
    font-family: poppins;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-weight: 100;
}

body {
    background-color: #78909C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
 
.wrapper {

    position: relative;
}

.dropdown__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDD835;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all 150ms ease-in 100ms;
    cursor: pointer;
}


.text__btn {
    text-align: center;
    text-wrap-mode: nowrap;
    font-size: 28px;
    font-weight: 200;
}


.dropdown__svg {
    width: 30px;
    margin-left: 15px;
    transition: all 150ms ease-in 100ms;
}

.list--container {
    visibility: hidden;
    opacity: 0;
    background-color: #000000;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    bottom: -180px;
    transition: all 200ms ease-in 100ms;
}

.list--option {
    color: #FDD835;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    text-decoration: none;
}

.wrapper:hover .dropdown__btn {
    background-color: #F9A825;
}

.wrapper:hover .dropdown__svg {
    transform: rotate(180deg);
}

.wrapper:hover .list--container {
    visibility: visible;
    opacity: 1;
    transform: translateY(12px);
}

.list--option:hover {
    color: #F9A825;
}