@font-face {
    font-family: vazir;
    src: 
    local(vazirmatn)
    url(../fonts/Vazirmatn-Regular.ttf) format(truetype),
    url(../fonts/Vazirmatn-Regular.woff2) format(woff2);
}

* {
    box-sizing: border-box;
    font-family: vazir;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    max-width: 100%;
}

.image-item {
   max-width: 100%;
}

/* @media screen and (max-width: 750px) {

    .container {
        flex-wrap: wrap;
    }    
}

@media screen and (max-width: 500px) {

    .container {
        flex-wrap: wrap;
    }
} */