@font-face {
    font-family: shabnam;
    src: local(shabnam),
    url(../fonts/Shabnam-FD.woff2) format(woff2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "shabnam";
    ::selection{
        background-color: rgba(0,0,0,0);
        color: white;
    }
}

body {
    background: url("../images/porn.jpeg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 1216px;
    margin: 0 auto;
    margin-top: 56px;
}

.mainchild-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgba(10, 13, 16, .6);
}

.child1__1 {
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
    color: #4784D9;
}

.mainchild-2 {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   margin-top: 20px;
}

.child2__1,
.child2__2,
.child2__3,
.child2__4 {
    background-color: #fff;
    font-size: 12px;
    color: #4E4B54;
    width: 290px;
    height: 330px;
    box-shadow: 0 0 10px -5px;
    margin-bottom: 5000px;
}

.child2__1-1,
.child2__2-2,
.child2__3-2 {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-right: 20px;
    gap: 5px;
}

.child2__4-2 {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 20px;
    gap: 5px;
}

.childmainchild2__1,
.childmainchild2__2,
.childmainchild2__3,
.childmainchild2__4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.childmainchild2__1-1,
.childmainchild2__2-1,
.childmainchild2__3-1,
.childmainchild2__4-1 {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-right: 20px;
    gap: 5px;
}

.childmaintext2__1,
.childmaintext2__2,
.childmaintext2__3,
.childmaintext2__4 {
    font-weight: bold;
    font-size: 16px;
}

.childmainchild2__1-2,
.childmainchild2__2-2,
.childmainchild2__3-2,
.childmainchild2__4-2 {
    display: flex;
    align-items: center;
}

.childimage__box1,
.childimage__box2,
.childimage__box3,
.childimage__box4 {
    width: 25px;
    margin-left: 20px;
}

.childtext-1__1,
.childtext-2__1,
.childtext-3__1,
.childtext-4__1 {
    background-color: #DFEEFD;
    color: #3A86D9;
    font-weight: bold;
    width: 25px;
    border-radius: 2px;
    text-align: center;
}

.childtext-1__2,
.childtext-2__2,
.childtext-3__2,
.childtext-4__2 {
    text-decoration: line-through;
    color: #7B7F8A;
}

.image__box1,
.image__box2,
.image__box3,
.image__box4 {
    width: 204px;
    margin: 20px 50px;
    transition: all 200ms ease 5s;
}

.image__box1:hover {
    opacity: 0;
}

.childtext-1,
.childtext-2,
.childtext-3,
.childtext-4 {
    display: block;
    margin: 0 20px;
    text-decoration: none;
    color: black;
}

.child2__1{
    transition: all 200ms ease-out;
    transition-delay: 5s;
}

.child2__1:hover{
    background: url(../images/porn.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.childtext-2:active {
    color: red;
}

.childtext-2:visited{
    color: blue;
}

img[alt~="otg"] {
    border: 2px solid yellow;
}