* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins;
}


body {
    background-color: #080710;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input, button {
    font-family: inherit;
    border: none;
    outline: none;
}


.container {
    position: relative;
}

.main-box {
    max-width: 400px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.13);
    border: 2px solid rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    padding: 0 35px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(12px);
}


.header {
    color: white;
    font-size: 32px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.username-input {
    margin-bottom: 20px;
}

.username-label, .password-label {
    color: white;
    margin-bottom: 5px;
    font-weight: 300;
}

#username, #password {
    background-color: rgba(255, 255, 255, 0.07);
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border-radius: 4px;
    font-size: 14px;
    margin: 5px 0;
}

#username::placeholder , #password::placeholder {
    color: white;
}


.button {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    color: black; 
    border: none; 
    border-radius: 4px; 
    margin-top: 40px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;  
}


.circle1 {
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to right, #1976D2 ,#42A5F5);
    border-radius: 100%;
    z-index: -1;
    position: absolute;
    top: -25%;
    left: -30%;
}

.circle2 {
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to right, #E65100 , #FF9800);
    border-radius: 100%;
    z-index: -1;
    position: absolute;
    top: 75%;
    left: 55%;
}
