/* App Fonts */

@font-face {
    font-family: "TTNorms";
    src: url("../fonts/TTNorms-Regular.otf") format("openType");
}
@font-face {
    font-family: "TTNorms Medium";
    src: url("../fonts/TTNorms-Medium.otf") format("openType");
}
@font-face {
    font-family: "TTNorms Light";
    src: url("../fonts/TTNorms-Light.otf") format("openType");
}

@font-face {
    font-family: "Times Roman Italic";
    src: url("../fonts/Times-new-roman-italic.ttf") format("truetype");
}

/* Normalize Css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0; /* 3 */
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/* Start Project */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    text-decoration: none;
}

body {
    font-family: "TTNorms";
}

.container {
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

/* header-top */

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav_bar {
    display: flex;
    align-items: center;
}

.nav_bar-logo{
    margin-right: 2rem;
}

.nav_bar-list{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav_lists{
    color: #081D43;
    padding: 0 0.5rem;
}

.nav_bar-link {
    background-color: #0050C8;
    color: #FFFFFF;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
}

.header__icon {
    font-size: 1.8rem;
    display: none;
    cursor: pointer;
}
/* header-main */

.main__head--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.header__contain {
    display: flex;
    flex-direction: column;
}

.header__head {
    max-width: 480px;
    font-size: 36px;
    font-family: "TTNorms Medium";
    font-weight: 100;
}

.header__main--text {
    width: 448px;
    height: 94px;
    color: #6C7890;
    line-height: 2rem;
    overflow: hidden;
}

.header__contain--links {
    margin-top: 2rem;
    font-size: 14px;
    display: flex;
}

.header__contain--link {
    background-color: #87BC25;
    color: #fff;
    padding: 0.75rem 2.3rem;
    border-radius: 0.5rem;
    margin-right: 0.7rem;
    display: block;
    width: 10rem;
    text-align: center;
}

.header__contain--link:last-child {
    background-color: #2F5BEA;
}

.header__img {
    max-width: 540px;
}

.header__img--svg {
    max-width: 100%;
}


/* work-section */

.work__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.work__section--header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work__section--childhead1 {
    color: #6C7890;
    font-family: "TTNorms";
    font-weight: 100;
    font-size: 15px;
    margin-bottom: 0;
}

.work__section--childhead2 {
    font-size: 30px;
    color: #081D43;
    font-family: "TTNorms Medium";
    font-weight: 100;
}

.work__section--main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 7rem;
    margin-top: 20px;
    flex-wrap: wrap;
}

.work__section--boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 16rem;
}

.work__section--box--head {
    color: #081D43;
    font-weight: 100;
    margin-bottom: 2px;
    font-size: 18px;
}

.work__section--box--text {
    color: #6C7890;
    line-height: 2rem;
}


.main--img {
    margin-top: 40px;
    margin-bottom: 6rem;
}

/* comments-section */

.work__wrapper--comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background-color: #2F5BEA;
    margin-bottom: 10rem;
}

.work__comments--header {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 390px;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 3rem;
}

.work__comments__head {
    font-family: "TTNorms Medium";
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 0;
}

.work__comments__head--text {
    font-family: "TTNorms Light";
    font-size: 14px;
    line-height: 1.5rem;
}

.work__comments__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 10rem;
    flex-wrap: wrap;
}

.work__comments {
    max-width: 256px;
    min-height: 225px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.2rem;
}

.work__comments--text {
    color: #7E8085;
    font-family: "Times Roman Italic";
    font-size: 13px;
    padding: 0 0.9rem;
    line-height: 1.5rem;
    text-align: left;
}

.work__comments--person {
    border-top: 1px solid #E8EBEF;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.work__comments--person--name {
    font-size: 12px;
}

.work__wrapper--image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.3rem;
    margin-bottom: 4rem;
    flex-wrap: wrap;
}

.work__wrapper--images {
    display: block;
}

/* portfolio-section */

.portfolio__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.portfolio__first--head {
    color: #6C7890;
    font-size: 15px;
    font-weight: normal;
    font-family: "TTNorms";
    margin: 1rem;
}

.portfolio__second--head {
    color: #081D43;
    font-size: 30px;
    font-family: "TTNorms Medium";
    font-weight: normal;
    margin: 0;
}


.portfolio__items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.portfoli__item {
    flex-basis: 24rem;
    overflow: hidden;
}

.portfolio__image {
    width: 100%;
    border-radius: 0.5rem;
}

/* footer-section */

.footer__wrapper {
    background-color: #2C57E4;
    color: #fff;
    padding: 6rem 0;
    margin-top: 6rem;
}

.footer__main--content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.footer__text {
    font-size: 25px;
    font-family: "TTNorms";
    font-weight: normal;
}


.footer__email {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    flex-basis: 22rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.email-address {
    border: none;
    outline: none;
    padding: 0 1rem;
    width: 100%;
}

::placeholder {
    color: #6C7890;
}

.email__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: #2F5BEA;
    width: 60px;
    height: 50px;
    border-radius: 0.3rem;
    cursor: pointer;
}

.footer__copyright {
    padding: 2rem 0;
}

.copyright__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright__text {
    color: #6C7890;
    font-size: 14px;
    font-family: "TTNorms";
}


/* Project Responsive */

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .footer__main--text, .footer__email {
        max-width: 50%;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .nav_bar-link {
        display: none;
    }

    .header__img {
        max-width: 100%;
    }

    .work__wrapper--image {
        justify-content: center;
    }

    .portfoli__item {
        max-width: 20rem;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .header__icon {
        display: block;
        position: fixed;
        right: 2rem;
        top: 1.7rem;
    }

    .nav_bar-list {
        position: fixed;
        left: -230px;
        bottom: 0;
        top: 0;    
        flex-direction: column;  
        background-color: #3f70e1;  
        gap: 1rem;
        padding: 2rem 4rem 0 2rem;   
        transition: all 0.3s;
    }

    .nav_lists {
        color: #fff;
        font-size: 1.2rem;
    }

    .main__head--container {
        flex-direction: column-reverse;
        margin-top: 1rem;
    }

    .header__contain {
        align-items: center;
        max-width: 100%;
        text-align: center;
    }

    .header__head {
        max-width: 100%;
    }

    .header__main--text {
        max-width: 100%;
    }

    .header__contain--links {
        flex-wrap: wrap;
        justify-content: center;
    }

    .header__contain--link {
        margin-bottom: 1rem;
    }

    .work__section--header {
        max-width: 35rem;
        text-align: center;
    }

    .work__section--main {
        gap: 1rem;
    }

    .main--img {
        max-width: 100%;
    }

    .portfolio__header {
        text-align: center;
    }

    .portfoli__item {
        max-width: 24rem;
    }   
    
    .footer__main--content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__main--text {
        max-width: 100%;
        text-align: center;
    }

    .footer__text {
        max-width: 30rem;
    }

    .footer__email {
        max-width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }

    .work__wrapper--image {
        flex-direction: column;
    }

    .copyright__wrapper {
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }

    .copyright__text {
        margin: 0.5rem 2rem;
    }
}
